/* Components Imports */
@import url(components/banner.css);
@import url(components/button.css);
@import url(components/navbar.css);
@import url(components/footer.css);

/* Sections Imports */
@import url(sections/about.css);
@import url(sections/cadastro.css);
@import url(sections/info.css);
@import url(sections/passo.css);

/* Base Imports */
@import url(base/normalize.css);
@import url(base/reset.css);

/* General CSS */
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: #66554d;
 }
