.navbar {
  background-color: #fff;
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-logo {
  width: 4em;
}

.navbar .navbar-links {
  display: flex;
  gap: 2em;
}

.navbar-links li a {
  font-size: 12px;
  font-weight: 600;
  color: #66554d;
}

.navbar-links li a:hover {
  color: #008037;
}